<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="FirstAutomation1">
    <classes>
      <class name="com.qa.testcase.HomePageTest"/>
      <class name="com.qa.testcase.LoginPageTest"/>
      <class name="com.qa.testcase.ContactsPageTest"/>
      <class name=".NewTest"/>
    </classes>
  </test> <!-- FirstAutomation1 -->
</suite> <!-- Suite -->
